body {
  font-family: "Poppins", Arial, sans-serif;
  background: #fff;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}

/* HOME SECTION */

.q-home-section {
  background-repeat: no-repeat;
  height: 750px;
  position: relative;
}

.q-home-section .q-home-text {
  height: 750px;
}

.q-home-section .q-home-text .one-third {
  width: 80%;
  position: relative;
  height: 650px;
  z-index: -1;
  box-shadow: 20px -20px 69px -27px rgba(0, 0, 0, 0.15);
}

.q-home-section .q-home-text .one-third .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0;
}

.q-home-section .q-home-text .subheading {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #0075f6;
}
.q-home-section .q-home-text .text {
  position: relative;
  z-index: 1;
  width: 100%;
}

.q-home-section .q-home-text h1 {
  font-size: 60px;
  color: #000000;
  line-height: 1.2;
  font-weight: 800;
}
.q-home-section .q-home-text h1 span {
  font-weight: 800;
  color: #0075f6;
}

.q-home-section .q-home-text h2 {
  font-size: 30px;
  font-weight: 400;
}

.q-home-section .q-home-text .btn-custom {
  border: 1px solid #0075f6;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  text-decoration: none;
}

.q-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 992px) {
  .q-home-section .q-home-text .one-forth .text {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    max-width: 50%;
    padding-left: 45px;
    padding-right: 3em;
  }
  .q-home-section .q-home-text h2 {
    color: rgb(0, 0, 0);
  }
}
@media (min-width: 768px) {
  .q-home-section .q-home-text .one-forth {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 991.98px) {
  .q-home-section .q-home-text h1 {
    color: #fff;
    font-size: 50px;
  }
  .q-home-section .q-home-text h2 {
    color: #fff;
  }
  .q-home-section .q-home-text .one-forth {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 1em;
  }
  .q-home-section .q-home-text .one-third {
    width: 100%;
    z-index: 0;
  }
  .q-home-section .q-home-text .one-third .overlay {
    opacity: 0.3;
  }
  .q-home-section .q-home-text .one-third:after {
    opacity: 0;
  }
  .text {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .q-home-section .q-home-text h1 {
    font-size: 40px;
  }
}

/* ABOUT SECTION  */
.q-section {
  padding: 7em 0;
  position: relative;
}
@media (max-width: 767.98px) {
  .q-section {
    padding: 6em 0;
  }
}

.q-about .img-about .overlay {
  width: 40%;
  height: 30%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  background: #0075f6;
  margin-top: 40px;
  margin-left: -60px;
  opacity: 1;
}

.q-about .img-about .img {
  width: 100%;
  position: relative;
  z-index: 1;
  box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.33);
}
.img {
  width: 100%;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 767.98px) {
  .q-about .img-about .overlay {
    visibility: hidden;
  }
  .img {
    visibility: hidden;
  }
}
.q-counter .text {
  display: inline-block;
  box-shadow: -20px 20px 69px -27px rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
  .q-counter .text {
    padding-left: 63px !important;
    margin-left: -63px;
  }
}

.q-counter .text p {
  font-size: 24px;
  line-height: 1;
}

.q-counter .text span.number {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.q-counter .text span {
  color: white;
  margin-bottom: 10px;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
}

.heading-section .subheading {
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 3px;
}

.heading-section h2 {
  font-size: 40px;
  font-weight: 600;
  color: #000000;
}
.heading-section h2 span {
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 28px;
  }
  .services .media-body {
    text-align: center;
  }
  .services .icon {
    text-align: center;
  }
  .finished-projects {
    display: flex;
    justify-content: center;
  }
}

.services {
  transition: all 0.3s ease;
}
.services .icon {
  line-height: 1.3;
  position: relative;
}
.services .icon span {
  font-size: 60px;
  color: #0075f6;
}
.services .media-body h3 {
  font-size: 18px;
  font-weight: 500;
}

.services .media-body h3 {
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}
.block-text {
  margin-bottom: 40px;
}
.block-text .media-body p {
  font-size: 16px;
}

.progress-wrap {
  width: 100%;
  margin-bottom: 30px;
}
.progress-wrap h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  color: black;
}

.progress {
  height: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f0f0f0;
  overflow: visible;
}

.progress-bar span {
  position: absolute;
  top: -38px;
  right: 0;
  font-size: 20px;
  font-weight: 400;
}
.progress-bar {
  background: #0075f6;
  box-shadow: none;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;
  font-weight: 600;
  position: relative;
  overflow: visible;
  border-radius: 2px;
}

.services-1 {
  margin-bottom: 40px;
  padding: 2em;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
}
.services-1 .icon {
  display: block;
  margin-bottom: 30px;
}
.services-1 .icon i {
  font-size: 60px;
  color: #0075f6;
}
.services-1 .desc h3 {
  line-height: 1.3;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
}
.services-1 .desc h3:after {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  content: "";
  width: 30px;
  height: 1px;
  background: #000000;
  margin: 0 auto;
}
.services-1 .desc h3 {
  color: #000000;
}
.services-1 .desc h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 18px;
  color: #000000;
}
.services-1 .desc span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  color: #0075f6;
}

/* HIRE ME */
.q-hireme {
  background: #0075f6;
}
.q-hireme h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}
.q-hireme h2 span {
  font-weight: 800;
}

.btn.btn-white {
  background: #fff;
  border: 1px solid #fff !important;
  color: #000000 !important;
}
.btn.btn-white:hover {
  border: 1px solid #000000;
  background: #fff;
  color: #fff;
}

/* MY PROJECTS */

.project {
  width: 100%;
  height: 285px;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767.98px) {
  .project {
    height: 285px;
  }
  .project {
    background-size: cover;
    background-position: center center;
  }
}
.project .text {
  max-width: 45%;
  z-index: 1;
}
.project .text h3 {
  font-size: 22px;
}
.project .text h3 a {
  color: #fff;
}
.project .text span {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media (max-width: 767.98px) {
  .project .text {
    max-width: 100%;
    opacity: 1;
  }
  .project .text span {
    color: rgba(255, 255, 255, 0.8);
  }
}

.project .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  background: #0075f6;
  z-index: -1;
  transition: all 0.3s ease;
}

@media (max-width: 767.98px) {
  .project .overlay {
    opacity: 0.2;
  }
}

.project .text {
  max-width: 80%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease;
}

.project .text h3 {
  font-size: 20px;
}

.project .text h3 a {
  color: #fff;
}

.project .text span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767.98px) {
  .project .text {
    opacity: 1;
  }
  .project .text span {
    color: rgba(255, 255, 255, 0.8);
  }
}

.project:hover .overlay,
.project:focus .overlay {
  opacity: 0.9;
}
.project:hover .text,
.project:focus .text {
  opacity: 1;
}

/* CONTACT ME */
.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
}
.contact-section .contact-form {
  width: 100%;
}
@media (max-width: 767.98px) {
  .contact-section .contact-form .btn-primary {
    display: block;
    width: 100%;
  }
}

.q-no-pb {
  padding-bottom: 0 !important;
}

/* FOOTER */

.q-footer {
  font-size: 16px;
  background: #0075f6;
  padding: 7em 0;
  z-index: 0;
}
.q-footer .q-footer-logo {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.q-footer .q-footer-widget h2 {
  font-weight: normal;
  color: #fff;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 600;
}
.q-footer .q-footer-widget ul li {
  margin-bottom: 10px;
}
.q-footer .q-footer-widget ul li a {
  color: rgba(255, 255, 255, 0.6);
}
.q-footer .q-footer-widget ul li a span {
  color: rgba(255, 255, 255, 0.6);
}
.q-footer .q-footer-widget .btn-primary {
  background: #fff !important;
  border: 2px solid #fff !important;
}
.q-footer .q-footer-widget .btn-primary:hover {
  background: #fff;
  border: 2px solid #fff !important;
}
.q-footer p {
  color: rgba(255, 255, 255, 0.7);
}
.q-footer a {
  color: rgba(255, 255, 255, 0.7);
}
.q-footer a:hover {
  color: #fff;
}
.q-footer span {
  color: rgba(255, 255, 255, 0.7);
}

.q-footer {
  font-size: 17px;
  font-weight: 400;
  color: #000000;
}

.q-footer-social li {
  padding-bottom: 24px;
}

.q-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.q-footer-social li a {
  width: 50px;
  display: block;
  border-radius: 50%;
  position: relative;
  line-height: 50px;
  text-align: center;
}

.q-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
}
.q-footer-social li a:hover {
  color: #fff;
}
.block-23 ul {
  padding: 0;
}
.block-23 ul li,
.block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}
.block-23 ul li span {
  color: rgba(255, 255, 255, 0.7);
}
.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}

.q-footer-social li a i {
  position: absolute;
  font-size: 50px;
}

.block-23 ul li i {
  color: rgba(255, 255, 255, 0.7);
}

/* TIMELINE */

.container-timeline {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.container-timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #0075f6;
  margin-top: 10px;
  z-index: 1;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: #666;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-content span {
  color: #a4a4a4;
}

.timeline-content p {
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}

@media screen and (max-width: 768px) {
  .container-timeline:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}
